.banner-page {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  position: relative;
}

.banner-page-intro {
  height: auto;
  width: 100vw;
  margin: 0;
}

.color-stones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.banner-link {
  display: flex;
}

.stone {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #574744;
}
