.list-container {
  display: none;
  flex-direction: column;
  margin: 0 0 15px 0;
  padding: 0 15px;
  gap: 10px;
  transition: height 0.5s ease;
}

.list-item {
  list-style: none;
}

.list-link {
  text-decoration: none;
  font-size: 12px;
  color: var(--secondary-grey);
}

.active {
  display: flex;
  min-height: 104px;
}

@media (min-width: 1080px) {
  .list-link {
    font-size: 14px;
  }
}
