.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  align-items: center;
  padding: 15px 10px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
  z-index: 100;
}

.nav.scrolled {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  font-size: 28px;
  text-decoration: none;
  color: inherit;
}

.nav-option {
  font-size: 15px;
  text-decoration: none;
  color: inherit;
  position: absolute;
  right: 20px;
}
