.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  padding: 15px 10px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
  z-index: 100;
}

.nav.scrolled {
  background-color: #fff;
}

.nav-logo {
  text-decoration: none;
  color: inherit;
  width: 120px;
}
