body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.rotate {
  transform: rotate(-180deg);
}

.chevron-back {
  color: #757575;
}
