/* -----global variables------- */
:root {
  --primary-black: #2e2e2e;
  --primary-grey: #757575;
  --secondary-grey: #a4a4a4;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.rotate {
  transform: rotate(-180deg);
}

.chevron-back {
  color: var(--primary-black);
}

.back-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 22px;
  left: 20px;
  z-index: 150;
  cursor: pointer;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.banner-container {
  max-width: 100vw;
  height: 100vh;
  margin-bottom: 2px;
  position: relative;
}

.picture-fit {
  display: flex;
  margin: 0;
  flex-direction: column;
}
