.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 100%;
  bottom: 250px;
  z-index: 50;
  justify-content: center;
}

.banner-title {
  width: 650px;
}

.buttons-container {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  margin-top: 35px;
}

.button-banner {
  text-decoration: none;
  font-size: 20px;
  padding: 4px 8px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 12px;
}
